{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id='rest_framework_url' data-url='{% url 'dashboard-list' %}'></div>

{% comment %} Section Dropdown {% endcomment %}
<div class='d-flex flex-row'>


    {% comment %} Dropdown City {% endcomment %}
    <div class="form-group m-2">

        <select class="form-control" name="" id="">
            <option value="all">All city</option>
            {% for city in cities %}
            <option value="{{city.city}}">{{city.city|title}}</option>{% endfor %}
        </select>
    </div>


    {% comment %} Dropdown type of property {% endcomment %}
    <div class="form-group m-2">

        <select class="form-control" name="" id="">
            <option value="all">All Property types</option>
            {% for type in property_types %}
            <option>{{type.type_of_property}}</option>{% endfor %}
        </select>
    </div>



    {% comment %} Dropdown year of construction {% endcomment %}
    <div class="form-group m-2">

        <select class="form-control" name="" id="">
            <option value="all">All years</option>
            {% for year in years %}
            <option>{{year.year_of_construction}}</option>{% endfor %}
        </select>
    </div>


</div>



{% comment %} Section Dashboard {% endcomment %}
<div class='d-flex flex-row flex-wrap m-4 mw-75'>

    <div class="container sticky-top p-2">
        <div id='mydashboard'>
        </div>
    </div>

    <div class="container">

        <div id='homelisting'>
            <template v-for="item in homelist">
                <div class="card m-4">
                    <div class="card-body">
                        <h4 class="card-title">[[item.region]]</h4>
                        <p class="card-text">[[item.type_of_property]]</p>
                    </div>
                </div>
            </template>
        </div>
    </div>










</div>



{% endblock content %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/dashboard_data.js' %}"></script>


{% endblock scripts %}