{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id='drf_latesthome' data-url='{% url 'dashboard-detail' latesthomeid.id %}'></div>
<div id='drf_dashboard_data' data-url='{% url 'dashboard-list' %}'></div>
<div id='drf_homelisting' data-url='{% url 'home-list' %}'></div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Explore the plot!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <ul>
                    <li>
                        <h5>Select, zoom, and relayout the scatterplot</h5>
                    </li>
                    <li>
                        <h5>See the corresponding residences</h5>
                    </li>
                    <li>
                        <h5>...</h5>
                    </li>
                    <li>
                        <h5>Profit!</h5>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="overlayCarousel" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div id='overlayContent' class="overlay-content carousel slide" data-ride="carousel">
        <div id="innerCarousel" class="carousel-inner">

        </div>
        <a class="carousel-control-prev" href="#overlayContent" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#overlayContent" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</div>


{% comment %} Section Dashboard {% endcomment %}
<div class='container-fluid'>
    <div class="row">

        <div class="col-xl border bg-light m-1">
            <div class="sticky-top first-column">
                <h3>Scatterplot of house prices by area color coded by cities</h3>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark m-2" data-toggle="modal" data-target="#exampleModalCenter">
                    Click here for instructions
                </button>





                <div id='mydashboard'>
                </div>
            </div>
        </div>

        <div class="col-xl border m-1 p-2">
            <h3>Selected residences </h3>

            <div id='homelisting' :key="componentKey">



                <div v-if="homelist ==null">
                    <div class="jumbotron jumbotron-fluid bg-light">
                        <div class="container">
                            <p class="lead">
                                <img src="https://media1.tenor.com/images/d6cd5151c04765d1992edfde14483068/tenor.gif?itemid=5662595"
                                    alt="Load Loading GIF - Load Loading Waiting GIFs"
                                    style="max-width: 100px; background-color: rgb(236, 236, 236);" width="25"
                                    height="25">
                                Data is loading.....
                            </p>
                        </div>
                    </div>


                </div>

                <div v-else>

                    <button @click="pagePrevious" class="btn btn-dark btn-sm m-1" :disabled="pageNumber==0">
                        Previous
                    </button>


                    <template v-for="index in [...Array(pageCount).keys()]">
                        <span v-if="renderedButtonIndices.includes(index)">
                            <button @click="goToPage(index)" class="btn btn-dark btn-sm m-1"
                                v-bind:class="{ active: index==pageNumber }">[[index +1]]</button>
                        </span>
                        <span v-if="index-pageNumber==5|pageNumber-index==5">...</span>
                    </template>



                    <button @click="pageNext" class="btn btn-dark btn-sm m-1" :disabled="pageNumber >= pageCount -1">
                        Next
                    </button>
                    <template v-for="(item,index) in paginatedData">
                        <div class="card m-4">
                            <div class="card-body">

                                <div :id="'carousel'+index" class="carousel slide bg-dark h-50 mh-50"
                                    data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <template v-for="(screenshot,sindex) in item.screenshots">

                                            <div v-if="sindex==0" class="carousel-item active">
                                                <img class="d-block gallery-fixed"
                                                    @click="openNav(item.screenshots,sindex)" :src="screenshot"
                                                    alt="First slide">
                                            </div>
                                            <div v-else class="carousel-item">
                                                <img class="d-block gallery-fixed "
                                                    @click="openNav(item.screenshots,sindex)" :src="screenshot"
                                                    alt="index">
                                            </div>
                                        </template>

                                    </div>

                                    <a class="carousel-control-prev" :href="'#carousel'+index" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" :href="'#carousel'+index" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                                <hr />

                                <h4 class="card-title"><a :href="item.property_source_url"><span
                                            class='capitalized'>[[item.property_name]]</span> in <span
                                            class='capitalized'>[[item.city | capitalize]]</span></a></h4>
                                <h5>💸 Price: €[[item.price]] per month | 🏠 Area: [[item.area]] m2 | 🏗️ Built
                                    on:[[item.year_of_construction]] </h5>
                                <div :id="'description'+index" class="card-text collapse" aria-expanded="false">

                                    <br>
                                    <p v-html="item.description_from_tenant"></p>

                                </div>
                                <div class='expandbuttondiv'>
                                    <a role="button" class="collapsed" data-toggle="collapse"
                                        :href="'#description'+index" aria-expanded="false"
                                        aria-controls="collapseExample"></a>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>

    </div>
</div>











{% endblock content %}


{% block scripts %}
<style>
    .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */
        height: 0;
        width: 100%;
        position: fixed;
        /* Stay in place */
        z-index: 99999999999;
        /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        /* Black fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/opacity */
        overflow-x: hidden;
        /* Disable horizontal scroll */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

    /* Position the content inside the overlay */
    .overlay-content {
        position: absolute;
        top: 25%;
        /* 25% from the top */
        width: 100%;
        /* 100% width */
        text-align: center;
        /* Centered text/links */
        margin-top: 30px;
        /* 30px top margin to avoid conflict with the close button on smaller screens */
    }

    /* The navigation links inside the overlay */
    .overlay a {
        position: absolute;
        top: 40%;
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        /* Display block instead of inline */
        transition: 0.3s;
        /* Transition effects on hover (color) */
    }

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    /* Position the close button (top right corner) */
    .overlay .closebtn {
        position: absolute;
        top: 50px;
        right: 45px;
        font-size: 60px;
    }

    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }



    .card .expandbuttondiv a.collapsed:after {
        content: '+ Show More';
    }

    .card .expandbuttondiv a:not(.collapsed):after {
        content: '- Show Less';
    }

    .card .column-containers .card-text .collapse:not(.show) {
        display: block;
        height: 10 em;
        overflow: hidden;
    }

    .card .column-containers .collapsing {
        height: 10em;
    }

.first-column{
    top:60px
}

    .column-containers {
        top: 50px;
        position: sticky;
        max-height: 30vh;
    }

    .capitalized {
        text-transform: capitalize
    }
</style>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/dashboard_data.js' %}"></script>


{% endblock scripts %}