{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id='drf_latesthome' data-url='{% url 'dashboard-detail' latesthomeid.id %}'></div>
<div id='drf_dashboard_data' data-url='{% url 'dashboard-list' %}'></div>
<div id='drf_homelisting' data-url='{% url 'home-list' %}'></div>



{% block modalandoverlay %}
{% include 'components/index_modal_overlay.html' %}
{% endblock modalandoverlay %}


{% block mobilenav %}
{% include 'components/index_mobilenav.html' %}
{% endblock mobilenav %}





{% comment %} Section Dashboard {% endcomment %}
<div class='container-fluid'>
    <div class="row">

        <div id='scatterplot-column' class="col-xl first-column sticky-top border bg-light">
            <div class="sticky-top first-column p-1">
                <h3>Scatterplot of house prices by area color coded by cities</h3>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark m-2" data-toggle="modal" data-target="#exampleModalCenter">
                    Click here for instructions
                </button>

                <div id='mydashboard'>
                </div>
            </div>
        </div>

        <div id='listingcolumn' class="col-xl border m-1 p-2 second-column bg-light">
            <h3>Selected residences </h3>

            <div id='homelisting' :key="componentKey">



                <div v-if="homelist ==null">
                    <div class="jumbotron jumbotron-fluid bg-light">
                        <div class="container">
                            <p class="lead">
                                <img src="https://media1.tenor.com/images/d6cd5151c04765d1992edfde14483068/tenor.gif?itemid=5662595"
                                    alt="Load Loading GIF - Load Loading Waiting GIFs"
                                    style="max-width: 100px; background-color: rgb(236, 236, 236);" width="25"
                                    height="25">
                                Data is loading.....
                            </p>
                        </div>
                    </div>


                </div>

                <div v-else>

                    <button @click="pagePrevious" class="btn btn-dark btn-sm m-1" :disabled="pageNumber==0">
                        Previous
                    </button>


                    <template v-for="index in [...Array(pageCount).keys()]">
                        <span v-if="renderedButtonIndices.includes(index)">
                            <button @click="goToPage(index)" class="btn btn-dark btn-sm m-1"
                                v-bind:class="{ active: index==pageNumber }">[[index +1]]</button>
                        </span>
                        <span v-if="index-pageNumber==5|pageNumber-index==5">...</span>
                    </template>



                    <button @click="pageNext" class="btn btn-dark btn-sm m-1" :disabled="pageNumber >= pageCount -1">
                        Next
                    </button>
                    <template v-for="(item,index) in paginatedData">
                        <div class="card m-4">
                            <div class="card-body">

                                <div :id="'carousel'+index" class="carousel slide bg-dark h-50 mh-50"
                                    data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <template v-for="(screenshot,sindex) in item.screenshots">

                                            <div v-if="sindex==0" class="carousel-item active">
                                                <img class="d-block gallery-fixed"
                                                    @click="openNav(item.screenshots,sindex)" :src="screenshot"
                                                    alt="First slide">
                                            </div>
                                            <div v-else class="carousel-item">
                                                <img class="d-block gallery-fixed "
                                                    @click="openNav(item.screenshots,sindex)" :src="screenshot"
                                                    alt="index">
                                            </div>
                                        </template>

                                    </div>

                                    <a class="carousel-control-prev" :href="'#carousel'+index" role="button"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" :href="'#carousel'+index" role="button"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                                <hr />

                                <h4 class="card-title"><a :href="item.property_source_url"><span
                                            class='capitalized'>[[item.property_name]]</span> in <span
                                            class='capitalized'>[[item.city | capitalize]]</span></a></h4>
                                <h5>💸 Price: €[[item.price]] per month | 🏠 Area: [[item.area]] m2 | 🏗️ Built
                                    on:[[item.year_of_construction]] </h5>
                                <div :id="'description'+index" class="card-text collapse" aria-expanded="false">

                                    <br>
                                    <p v-html="item.description_from_tenant"></p>

                                </div>
                                <div class='expandbuttondiv'>
                                    <a role="button" class="collapsed" data-toggle="collapse"
                                        :href="'#description'+index" aria-expanded="false"
                                        aria-controls="collapseExample"></a>
                                </div>
                            </div>
                        </div>
                    </template>
                    <button @click="pagePrevious" class="btn btn-dark btn-sm m-1" :disabled="pageNumber==0">
                        Previous
                    </button>


                    <template v-for="index in [...Array(pageCount).keys()]">
                        <span v-if="renderedButtonIndices.includes(index)">
                            <button @click="goToPage(index)" class="btn btn-dark btn-sm m-1"
                                v-bind:class="{ active: index==pageNumber }">[[index +1]]</button>
                        </span>
                        <span v-if="index-pageNumber==5|pageNumber-index==5">...</span>
                    </template>
                    <button @click="pageNext" class="btn btn-dark btn-sm m-1" :disabled="pageNumber >= pageCount -1">
                        Next
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>











{% endblock content %}


{% block scripts %}

<link rel="stylesheet" href={% static 'css/home.css' %}>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/dashboard_data.js' %}"></script>
<script src="{% static 'js/uiswitching.js' %}"></script>


{% endblock scripts %}