

{% comment %} Navtab for mobile view{% endcomment %}
<ul class="nav nav-fill nav-pills justify-content-center sticky-top view-switcher bg-light p-2 min-vh-10">
  <li class="nav-item">
    <a id="scatter-nav" class="nav-link active" onclick="activateScatter()" href="#">Scatterplot</a>
  </li>
  <li class="nav-item">
    <a id="listing-nav" class="nav-link" onclick="activateListing()" href="#">Listing <span id="listing-badge" class="badge badge-success deactivated">new!</span></a>
  </li>
  <li class="nav-item">
    <a id="maps-nav" class="nav-link disabled" href="#">Maps (coming soon!) </a>
  </li>
</ul>